/* Global assets for application*/
@font-face{
    font-family: Roboto;
    src: url(Roboto-VariableFont_wdth\,wght.ttf)
}

:root{
    --HomeColor: hsl(0, 4%, 25%);
    --whiteColor: hsl(0, 100%, 100%);
    --blackColor: hsl(0, 0%, 0%);
    --navbarColor: hsl(0, 4%, 62%);

}

span{
    text-decoration: none;
}

a{
    text-decoration: none;
}

/* CSS Styling for navbar*/


nav{
    display: flex;
    justify-content: center;
}

ul{
    list-style-type: none;
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    max-width: 850px;
}

a[class="navbarList"]{
    font-family: Roboto;
    color: #949191;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}

a[class="navbarList"]:hover {
  color: #2a85e6;
}

a[class="navbarList"]::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #2a85e6;
  transition: width 0.3s ease;
}

a[class="navbarList"]:hover::after {
  width: 100%;
}




/* CSS Styling for Homepage */

body[class="homepage"]{
    background-color: var(--whiteColor);
}

@keyframes fadeIn {
  from { 
        opacity: 0;
        transform: translateY(-20px);
    }
  to {
        opacity: 1; 
        transform: translateY(0px);
    }
}

div[class="indexContainer"]{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.2rem;
    animation: fadeIn 0.8s ease-in;
}

@keyframes bounce {
  0%, 100% {
    top: 0;
    animation-timing-function: ease-in;
  }
  50% {
    top: 12px;
    animation-timing-function: ease-out;
  }
}

img{
    position: relative;
    top: 50px;
    height: 425px;
    width: 600px;
    border-radius: 20px;
    margin: 0 3rem;
    animation: bounce 2s infinite;
}

p[class="homepageText"]{
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.25rem;
    color: hsl(0, 0%, 51%);
    max-width: 600px;
}

ul[class="homeButtonList"]{
    margin-top: 2rem;
}

a[class="homeButton"]{
    display: inline-block;
    background-color: hsl(210, 86%, 66%);
    color: hsl(0, 0%, 100%);
    font-size: 17px;
    padding: 10px;
    font-weight: 500;
    border-radius: 20px;
    transition: transform 0.2s;
}

a[class="homeButton"]:hover{
    background-color: hsl(210, 64%, 50%);
    box-shadow: 1px 1px 20px 1px hsl(226, 91%, 70%);
    transform: scale(1.1);
}

span[class="homeButton"]{
    font-family: Roboto;
}