/* Global assets for application*/
@font-face{
    font-family: Roboto;
    src: url(Roboto-VariableFont_wdth\,wght.ttf)
}

:root{
    --HomeColor: hsl(0, 4%, 25%);
    --whiteColor: hsl(0, 100%, 100%);
    --blackColor: hsl(0, 0%, 0%);
    --navbarColor: hsl(0, 4%, 62%);

}

/* CSS Styling for navbar*/

nav{
    display: flex;
    justify-content: center;
}

ul[class="navbarList"]{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-basis: 250%;
    max-width: 1200px;
}

li[class="navbarList"]{
    display: flex;
    align-items: center;
}

a[class="navbarList"]{
    text-decoration: none;
    background-color: var(--navbarColor);
    border: 2px solid hsl(0, 6%, 91%);
    border-radius: 20px;
    padding: 12px;
    transition: 0.2s transform;
}

a[class="navbarList"]:hover{
    background-color: hsl(56, 97%, 58%);
    box-shadow: 2px 2px 15px 1px hsl(0, 31%, 93%);
    transform: scale(1.15);
    border: 2px solid var(--blackColor)
}

a[class="navbarList"]:hover span{
    color: var(--HomeColor);
}

span[class="navbarText"]{
    font-family: Roboto;
    font-weight: 700;
    font-size: 1.4rem;
    align-items: center;
    color: var(--whiteColor);
}



/* CSS Styling for Homepage */

body[class="homepage"]{
    background-color: var(--HomeColor);
}