<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body class="homepage">
    <%- include('navbar', {navbarElements: navbarElements}) %>

    <div class="indexContainer">
      <img alt="Video Game Image" src="/images/game.png">

      <div>
        <p class="homepageText">Welcome to a world of play without limits. This game catalogue brings together thrilling adventures, 
          iconic classics, and hidden gems, all in one place. Whether you’re chasing competition or discovery, 
          your next favorite game starts here.</p>
        <%- include('homeButtons', {navbarElements: navbarElements}) %>
      </div>
    </div>
  </body>
</html>